.pageContainer {
  padding: 0 16px;
}

.heroContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  padding: 0 50px 50px 0;
}

.canvasContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
