.pageContainer {
  /* padding: 25px; */
}

.heroContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  padding: 0 50px 50px 0;
}

.backgroundContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.sectionContainer {
  border-right: 8px solid white;
}

.headerWrapper {
  margin: 150px 0 100px;
}

.subHeaderWrapper {
  margin: 75px 5px 25px 0;
}
