.container {
  font-family: 'Mabry', sans-serif;
  font-weight: normal;
  font-size: 20px;
  position: relative;
  background-color: black;
  color: white;
  padding: 0px 50px 0px 0px;

  /* old browsers */
  width: 100vw;
  height: 100vh;

  /* new browsers */
  width: 100dvw;
  height: 100dvh;
}
